<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Depbud</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <style type="text/css">
        .navbar-depbud {
            background-color: rgba(0,0,0,.03);
            border: 1px solid rgba(0,0,0,.125);
            border-radius: 3px;
            margin: 20px 0;
        }

        .card-depbud {
            margin-top: 12px;
        }

        .table {
            table-layout:fixed;
        }

        .table td {
            white-space: nowrap;
            overflow: auto;
        }

        .table td pre {
            font-size: 70%;
            margin-bottom: 0;
        }
    </style>
</head>
<body>
    <div class="container">
        
        <nav class="navbar navbar-light navbar-depbud">
            <a href="#" class="navbar-brand">
                <img src="depbud.svg" alt="depbud" class="d-inline-block align-top" width="30" height="30">
                Depbud
            </a>
            <a href="#help" class="btn btn-outline-primary" data-toggle="modal" data-target="#help">
                Help! What is this?
            </a>
        </nav>

        <div class="modal fade" id="help" tabindex="-1" role="dialog" aria-labelledby="helpLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="helpLabel">Help! What is this?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>This is Depbud! (like <a href="https://en.wikipedia.org/wiki/300_(film)" target="_blank">Leonidas</a> would have said it)</p>
                <p>Ok, bad joke. Depbud is a nifty little dashboard that helps you manage your npm dependencies. There are two main features in Depbud; a quick overview of the version status of your dependencies and showing you in which files these dependencies are used.</p>
                <p>The first thing to notice is the navigation. You have 5 available tabs. Under here is a brief explanation on what can be found under them: </p>
                <ul>
                    <li>
                        <strong>Dependencies and Dev Dependencies</strong>
                        <p>From here you can see a list of all your dependencies as they are stated in our package.json file.</p>
                        <p>Before each dependency there's a little badge. They each represent the state that your dependency is in from looking at which version you're relying on and comparing that to the newest stable version available on NPM.</p>
                        <p><span class="badge badge-pill badge-danger">&nbsp;</span> Says that there's a newer major version available.</p>
                        <p><span class="badge badge-pill badge-warning">&nbsp;</span> Says that there's a newer minor or patch version available.</p>
                        <p><span class="badge badge-pill badge-success">&nbsp;</span> Says that there's you're aligned with the newest version available.</p>
                        <p>If you expand a dependency you'll see some meta data on that dependency, link to NPM, author, description and some more along with a list of all the files where that dependency is required from.</p>
                        <p>This makes it easier to know where you're using that, in the event of breaking changes because of an update.</p>
                    </li>
                    <li>
                        <strong>Unused Dependencies and Unused Dev Dependencies:</strong>
                        <p>From here you'll get a list of all the dependencies stated in your package.json file, which you're not using in your codebase.</p>
                        <p>The tabs also include a "quick-fix" command you can fire off, if you want to clean up your package.json file.</p>
                        <p><strong>Note: Use the "quick-fix" command with caution, as there could be false positives.</strong></p>
                    </li>
                    <li>
                        <strong>Missing Dependencies:</strong>
                        <p>Here you'll get a list of requried dependencies in your codebase, which was not found in you package.json file</p>
                        <p>This helps you consider which dependencies you might want to add to you package.json file.</p>
                        <p><strong>Note: This is still being worked on, so there could be some false positives here</strong></p>
                    </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist" id="tabs">
                    <li class="nav-item">
                        <a href="#deps" class="nav-link active" id="deps-tab" data-toggle="tab" role="tab" aria-controls="deps" aria-expanded="true">
                            Dependencies    
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#dev-deps" class="nav-link" id="dev-deps-tab" data-toggle="tab" role="tab" aria-controls="dev-deps">
                            Dev Dependencies    
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#unused" class="nav-link" id="unused-tab" data-toggle="tab" role="tab" aria-controls="unused">
                            Unused Dependencies
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#unused-dev" class="nav-link" id="unused-dev-tab" data-toggle="tab" role="tab" aria-controls="unused-dev">
                            Unused Dev Dependencies
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#missing" class="nav-link" id="missing-tab" data-toggle="tab" role="tab" aria-controls="missing">
                            Missing Dependencies
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="tabsContent">

                    <div class="tab-pane fade show active" id="deps">
                        <ul class="list-group">
                            <% _.forIn(david.deps, function(value, key) { %>
                                <li class="list-group-item">
                                    <a href="#<%= key.replace('.', '♥') %>" class="btn btn-light btn-block text-left" data-toggle="collapse">
                                        <% if (value.diff === 'major') { %>
                                        <span class="badge badge-pill badge-danger">&nbsp;</span>
                                        <% } else if (value.diff === 'minor' || value.diff === 'patch') { %>
                                        <span class="badge badge-pill badge-warning">&nbsp;</span>
                                        <% } else { %>
                                        <span class="badge badge-pill badge-success">&nbsp;</span>
                                        <% } %>
                                        <%= key %>
                                    </a>
                                    <div class="collapse" id="<%= key.replace('.', '♥') %>">
                                        <div class="card card-depbud">
                                            <div class="card-body">
                                                <a href="https://www.npmjs.com/package/" target="_blank">
                                                    <h4 class="card-title">&nbsp;</h4>
                                                </a>
                                                <a href="https://www.npmjs.com/~" target="_blank">
                                                    <h6 class="card-subtitle mb-2 text-muted">&nbsp;</h6>
                                                </a>
                                                <p class="card-text">&nbsp;</p>
                                                <% if (value.diff === 'major') { %>
                                                <div class="alert alert-danger" role="alert">
                                                  <strong>Whoa!</strong> There is a newer major version available.
                                                  The required version is <strong><%= value.required %></strong>, but the newest stable is <strong><%= value.stable %></strong>
                                                </div>
                                                <% } else if (value.diff === 'minor' || value.diff === 'patch') { %>
                                                <div class="alert alert-warning" role="alert">
                                                  <strong>Hmm!</strong> There is a newer minor or patch version available.
                                                  The required version is <strong><%= value.required %></strong>, but the newest stable is <strong><%= value.stable %></strong>
                                                </div>
                                                <% } else { %>
                                                <div class="alert alert-success" role="alert">
                                                  <strong>Sweet!</strong> You're on the latest stable.
                                                  The required version is <strong><%= value.required %></strong>, and the newest stable is <strong><%= value.stable %></strong>
                                                </div>
                                                <% } %>
                                            </div>
                                            <table class="table table-sm table-striped table-hover table-responsive">
                                                <thead class="thead-inverse">
                                                    <tr>
                                                        <th>Path</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                <% _.forIn(value.using, function(v, k) { %>
                                                    <tr>
                                                        <td>
                                                            <pre><%= v %></pre>
                                                        </td>
                                                    </tr>
                                                <% }) %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </li>
                            <% }) %>
                        </ul>
                    </div>

                    <div class="tab-pane fade" id="dev-deps">
                        <ul class="list-group">
                            <% _.forIn(david.devDeps, function(value, key) { %>
                                <li class="list-group-item">
                                    <a href="#<%= key.replace('.', '♥') %>" class="btn btn-light btn-block text-left" data-toggle="collapse">
                                        <% if (value.diff === 'major') { %>
                                        <span class="badge badge-pill badge-danger">&nbsp;</span>
                                        <% } else if (value.diff === 'minor' || value.diff === 'patch') { %>
                                        <span class="badge badge-pill badge-warning">&nbsp;</span>
                                        <% } else { %>
                                        <span class="badge badge-pill badge-success">&nbsp;</span>
                                        <% } %>
                                        <%= key %>
                                    </a>
                                    <div class="collapse" id="<%= key.replace('.', '♥') %>">
                                        <div class="card card-depbud">
                                            <div class="card-body">
                                                <a href="https://www.npmjs.com/package/" target="_blank">
                                                    <h4 class="card-title">&nbsp;</h4>
                                                </a>
                                                <a href="https://www.npmjs.com/~" target="_blank">
                                                    <h6 class="card-subtitle mb-2 text-muted">&nbsp;</h6>
                                                </a>
                                                <p class="card-text">&nbsp;</p>
                                                <% if (value.diff === 'major') { %>
                                                <div class="alert alert-danger" role="alert">
                                                  <strong>Whoa!</strong> There is a newer major version available.
                                                  The required version is <strong><%= value.required %></strong>, but the newest stable is <strong><%= value.stable %></strong>
                                                </div>
                                                <% } else if (value.diff === 'minor' || value.diff === 'patch') { %>
                                                <div class="alert alert-warning" role="alert">
                                                  <strong>Hmm!</strong> There is a newer minor or patch version available.
                                                  The required version is <strong><%= value.required %></strong>, but the newest stable is <strong><%= value.stable %></strong>
                                                </div>
                                                <% } else { %>
                                                <div class="alert alert-success" role="alert">
                                                  <strong>Sweet!</strong> You're on the latest stable.
                                                  The required version is <strong><%= value.required %></strong>, and the newest stable is <strong><%= value.stable %></strong>
                                                </div>
                                                <% } %>
                                            </div>
                                            <table class="table table-sm table-striped table-hover table-responsive">
                                                <thead class="thead-inverse">
                                                    <tr>
                                                        <th>Path</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                <% _.forIn(value.using, function(v, k) { %>
                                                    <tr>
                                                        <td>
                                                            <pre><%= v %></pre>
                                                        </td>
                                                    </tr>
                                                <% }) %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </li>
                            <% }) %>
                        </ul>
                    </div>

                    <div class="tab-pane fade" id="unused">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-primary">
                                <strong>Quick-fix:</strong>
                                <code>
                                    npm uninstall --save 
                                    <% _.forIn(depcheck.dependencies, function(value, key) { %>
                                        <%= value %>
                                    <% }) %>
                                </code> 
                            </li>
                            <% _.forIn(depcheck.dependencies, function(value, key) { %>
                                <li class="list-group-item">
                                    <a href="https://www.npmjs.com/package/<%= value %>" target="_blank">
                                        <%= value %>
                                    </a>
                                </li>
                            <% }) %>
                        </ul>
                    </div>

                    <div class="tab-pane fade" id="unused-dev">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-primary">
                                <strong>Quick-fix:</strong>
                                <code>
                                    npm uninstall --save-dev 
                                    <% _.forIn(depcheck.devDependencies, function(value, key) { %>
                                        <%= value %>
                                    <% }) %>
                                </code> 
                            </li>
                            <% _.forIn(depcheck.devDependencies, function(value, key) { %>
                                <li class="list-group-item">
                                    <a href="https://www.npmjs.com/package/<%= value %>" target="_blank">
                                        <%= value %>
                                    </a>
                                </li>
                            <% }) %>
                        </ul>
                    </div>

                    <div class="tab-pane fade" id="missing">
                        <ul class="list-group">
                            <% _.forIn(depcheck.missing, function(value, key) { %>
                                <li class="list-group-item">
                                    <%= key %>
                                </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>                
            </div>
        </div>



    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script>
        $(function() {
            $('.collapse').on('show.bs.collapse', function(event) {
                var packageId = event.currentTarget.id;
                $.get('/api/info/' + packageId.replace('♥', '.'), function(data) {
                    $('#' + packageId).find('.card-title').text(data.name)
                    $('#' + packageId).find('.card-title').parent().attr('href', 'https://www.npmjs.com/package/' + data.name)
                    $('#' + packageId).find('.card-subtitle').text(data._npmUser.name)
                    $('#' + packageId).find('.card-subtitle').parent().attr('href', 'https://www.npmjs.com/~' + data._npmUser.name)
                    $('#' + packageId).find('.card-text').text(data.description)
                })
            })
        })
    </script>
</body>
</html>
